 @import '/src/styles.scss';
 
.watch-detail-section{
    margin: 150px auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 15px;
}

//card section

 
.card{
    width: 300px; 
    padding: 0; 
    border-radius: 10px;
    .card-body{
        padding: 10px 16px 16px 16px;
    }  
}
.btn-right{
    float: right;
}
#discount{
    font-size: medium;
    color: red;
    margin-top: -10px;
}
 
.discount-section{
    background-color: rgb(255, 42, 0);
    border-radius: 50%;
    width: 55px;
    height: 55px;  
    position: absolute;
    top: 48%;
    right: 8px; 
    display: flex; /* or inline-flex */
    align-items: center; 
    justify-content: center;
}
.card-title{
    padding-top: 10px;
    padding-left: 16px;
    margin-bottom: 0px;
}
.btn-cart-inc{
    margin-top: 200px;

    .btn-group, .btn-buy{
        width: 300px;
    }
 }
 .btn-product-view{
    width: 8rem; 
 }
#btn{
    width: 8rem;
}

 .btn-group{
    border: 1px solid $card-background;
 }
 
 .btn-cart:hover, :focus, :target{
    color: white;
    background-color: $card-background;
 }
 .btn-buy{
    color: $color;
    background-color: $card-background;
}
.btn-right{
    float: right;
}
.card-section{
    padding: 0;
    margin: 0;
}

.product-image{ 
    height: 290px;
    border-radius: 10px 10px 0px 0px;
}