<div class="container">
    <app-nav-bar [cartLen]="cartLength" (item)="routeValue($event)" ></app-nav-bar>
</div>
<div class="container product-card-section">
    <div class="jumbotron products">
          <div class="d-flex mb-3" role="search">
            <h4>{{category | titlecase}}</h4>
           <input class="form-control input-search" type="search" placeholder="Search..." [(ngModel)]="searchTerm"  >
           <div class="dropdown dropstart">
            <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill" viewBox="0 0 16 16">
                <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z"/>
              </svg>
            </button>
            <ul class="dropdown-menu">
              <h5 class="dropdown-item text-start">Color</h5>
              <li *ngFor="let color of productColor">
                <div class="form-check text-start">
                  <input class="form-check-input-color" type="checkbox"  [value]="color.color" (change)="getProductByColor($event, color.color); color.checked == !color.checked" id="flexCheckDefault">

                  <label class="form-check-label" for="flexCheckDefault">

                   <span>  {{color.color}}</span>
                  </label>
                </div>
              </li>
            </ul>
          </div>
          </div>

        <div class="row">
          <ng-container *ngIf="category == '';else watch ">
            <div class="col-lg-3 col-md-4 col-sm-12 mb-4" *ngFor="let item of $productList | searchFilter:searchTerm; let i=index" >
              <div class="card text-bg-light">
                  <img src="{{productImages[i]}}" class="img-fluid product-image p-1" alt="...">
                  <a class="h4 card-title" style="text-decoration: none; background-color: transparent; cursor: pointer; color: black;" [routerLink]="['/product-detail', item.product_id]">{{item.productName}}</a>
                  <div class="card-body">
                      <h3 class="card-text">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                              <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                            </svg>{{item.productPrice | number}}</h3>
                    <p>{{item.productDescription}}</p>
                    <div class="discount-section" *ngIf="item.productDiscount">
                      <span>-{{item.productDiscount}}%</span>
                    </div>
                    <div class="btn-group btn-cart-inc" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-increment" (click)="addCart(item)" appHoverUp *ngIf="cartItem[i]?.product_id === item?.product_id">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                      </button>
                      <button class="btn btn-cart"  (click)="addCart(item)">{{cartItem[i]?.product_id !== item?.product_id ? 'Add to Cart' : cartItem[i]?.productQuantity }}</button>
                      <button type="button" class="btn btn-decrement" (click)="removeCart(item.product_id)" appHoverUp *ngIf="cartItem[i]?.product_id === item?.product_id" >
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                              <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                            </svg>
                      </button>
                    </div>
                    <button class="btn btn-buy btn-right" [routerLink]="['/product-detail', item.product_id]">Buy Now</button>
                  </div>
                </div>
          </div>
          <ng-container *ngIf="$productList?.length <= 0">
            <div class="text-center">
              <h2>Oops...</h2>
              <h5>No Watches available for this category</h5>
            </div>
          </ng-container>
          </ng-container>
          <ng-template #watch>
            <ng-container *ngIf="productCategoryList != '';else textView">
              <div class="col-lg-3 col-md-4 col-sm-12 mb-4" *ngFor="let item of productCategoryList | searchFilter:searchTerm; let i=index" >
                <div class="card text-bg-light">
                    <img src="{{productImages[i]}}" class="img-fluid product-image p-1" alt="...">
                    <a class="h4 card-title" style="text-decoration: none; background-color: transparent; cursor: pointer; color: black;" [routerLink]="['/product-detail', item.product_id]">{{item.productName}}</a>
                    <div class="card-body">
                        <h3 class="card-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>{{item.productPrice | number}}</h3>
                      <p>{{item.productDescription}}</p>
                      <div class="discount-section" *ngIf="item.productDiscount">
                        <span>-{{item.productDiscount}}%</span>
                      </div>
                      <div class="btn-group btn-cart-inc" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-increment" (click)="addCart(item)" appHoverUp *ngIf="cartItem[i]?.product_id === item?.product_id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                              </svg>
                        </button>
                        <button class="btn btn-cart"  (click)="addCart(item)">{{cartItem[i]?.product_id !== item?.product_id ? 'Add to Cart' : cartItem[i]?.productQuantity }}</button>
                        <button type="button" class="btn btn-decrement" (click)="removeCart(item.product_id)" appHoverUp *ngIf="cartItem[i]?.product_id === item?.product_id" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                              </svg>
                        </button>
                      </div>
                      <button class="btn btn-buy btn-right" [routerLink]="['/product-detail', item.product_id]">Buy Now</button>
                    </div>
                  </div>
            </div>
            </ng-container>
            <ng-template #textView>
              <h3>No Watches found</h3>
            </ng-template>

          </ng-template>

        </div>
    </div>
</div>
