<div class="container-fluid p-2">
    <div class="container">
        <app-nav-bar [cartLen]="cartLength"></app-nav-bar>
        <app-home-hero></app-home-hero>
    </div>

</div>

<div class="container mt-4">
    <h4 class="display-5 text-dark text-center m-2">
        Our Collection
    </h4>
    <div class="row mt-4 mb-5">
        <div class="col-lg-3 col-md-6 col-sm-12 card-section" *ngFor="let item of $products | async; let i=index">
            <ng-container *ngIf="i <= 3">
                <div class="card text-bg-light">
                    <img src="{{productImages[i]}}" class="img-fluid product-image p-1" alt="...">
                    <h4 class="card-title">{{item.productName}}</h4>
                    <div class="card-body">
                        <h3 class="card-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-rupee" viewBox="0 0 16 16">
                                <path d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z"/>
                              </svg>{{item.productPrice | number}}</h3>
                      <p class="card-text">{{item.productDescription}}</p>
                      <div class="discount-section" *ngIf="item.productDiscount">
                        <span>-{{item.productDiscount}}%</span>
                      </div>

                      <button class="btn btn-buy btn-right" [routerLink]="['/product-detail', item.product_id]">Buy Now</button>
                      <div class="btn-group btn-cart-inc" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-increment" (click)="addCart(item)" appHoverUp *ngIf="cartItem[i]?.product_id === item?.product_id">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                              </svg>
                        </button>
                        <button class="btn btn-cart"  (click)="addCart(item)">{{cartItem[i]?.product_id != item.product_id ? 'Add to Cart' : cartItem[i]?.productQuantity }}</button>
                        <button type="button" class="btn btn-decrement" (click)="removeCart(item.product_id)" appHoverUp *ngIf="cartItem[i]?.product_id === item?.product_id" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash" viewBox="0 0 16 16">
                                <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                              </svg>
                        </button>
                      </div>
                    </div>
                  </div>
            </ng-container>

        </div>
    </div>
</div>
