/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

//color theme
$background-color: #ffffff;
$color: #eaedf2;
$background-color-nav: #032433;
$cta-color: #54BAB9;
$card-background: #032433;

body{
    font-family: 'Varela Round', sans-serif;
    background-color: $background-color;
    .btn{
        border-radius: 20px;
    }
}


 